.first-color {
  background: #392f2f;
  color: white;
}

.second-color {
  background: #3a7563;
  color: white;
}

.third-color {
  background: #59a985;
  color: white;
}

.fourth-color {
  background: #e6d3a7;
  color: black;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #e6d3a7;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.button.primary {
  background: #3a7563;
  color: white;
}

.button.secondary {
  background: #59a985;
  color: white;
}

.header {
  background: #392f2f;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.card {
  background: #e6d3a7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
}

.book-item {
  text-align: center;
  padding: 10px;
}

.book-image {
  width: 250px;
  height: 350px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.book-image:hover {
  transform: scale(1.1);
}

.book-title {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

@media (max-width: 1700px) {
  .book-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .book-image {
    width: 300px;
    height: 400px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
}

@media (max-width: 1400px) {
  .book-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .book-image {
    width: 250px;
    height: 350px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
}

@media (max-width: 1100px) {
  .book-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-image {
    width: 250px;
    height: 350px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
}

@media (max-width: 480px) {
  .book-container {
    grid-template-columns: 1fr;
  }

  .book-image {
    width: 250px;
    height: 350px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
}

.book-scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 75px;
}

.book-item {
  min-width: 200px;
  text-align: center;
}

.book-title {
  margin-top: 8px;
  font-weight: bold;
}

button {
  padding: 10px;
  background-color: #3a7563;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #59a985;
}

.navbar {
  background-color: #3a7563;
  color: #392f2f;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #392f2f;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}